/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #fbgrp2wp h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

#fbgrp2wp #fbgrp2wp-settings div.form-table {
	margin: 2em 0;
}

#fbgrp2wp .form-table input {
	display:block;
	width: 1400px;
	max-width: 100%;
}

#fbgrp2wp input.button {
	margin-top:1em;
}

#fbgrp2wp #fbgrp2wp-settings div {
	margin: 1em 0;
}

#fbgrp2wp #fbgrp2wp-settings div label {
	font-weight: bold;
}

#fbgrp2wp #fbgrp2wp-settings div span {
	display: block;
}